html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------Custom Code--------------------------------------------------------------------------------------------------------------------*/
body{
	font-family: sans-serif;
}
/*navbar du haut*/
#header{
	background-color: #edf903;
	min-height: 50px;
	min-width: 100%;
	box-shadow: 0 1px 2px #eef903;
	display: flex;
	justify-content: center;
}
#logocontainer{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 1px solid;
	width: 120px;
	height: 120px;
	background-color: #fff;

}

.logo{
	width: 90px;
	height: 90px;
}
/*fin navbar du haut*/
/*image "attrape regard*/
#attrape_regard{
	width: 100%;
	height: 40%;
	min-height: 300px;
	display: flex;
	justify-content: center;
	
}
/*fin image attrape regard*/
/*navbar 2*/
#navbar{
	background-color: #9c27B0;
}
#navbar>ul{
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#navbar>ul>li{
	padding-left: 10px;
	padding-right: 10px;
	border-left: 1px solid white;
	border-right: 1px solid white;
	border-collapse: collapse;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-width: 25%;
}

#navbar>ul>li:hover{
	box-shadow: inset 0 -4px 0 white;
}

#navbar>ul>li>a{
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	
}

#navbartel{
	display: none;
}


/*fin navbar 2*/
body{
	background-image: url("src/fond.png");
}
/*container*/
.container{
	margin-left: 10%;
	margin-right: auto;
	width: 80%;
	min-height: 300px;
	border-left: 1px solid;
	border-right: 1px solid;
	background-color: #F8F8F4;
}
/*end container*/

/*productslist*/
.productslist{
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 100px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-bottom: 1px solid;

}
/*list1*/
#list1{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100px;
	
}
#list1>li{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
}
#list1>li>img{
	width: 200px;
	height: 200px;

}
/*end list1*/
/*list2*/
#list2{
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100px;
}
#list2>li{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
}
#list2>li>img{
	width: 200px;
	height: 200px;

}

@media all and (max-width){
	#list1>li>img,#list2>li>img{
		width: 150px;
		height: 150px;
	}
}

/*end list 2*/
/*button for switch the lists*/
#Bgauche,#Bdroite{
	background-color: rgb(255, 238, 0);
    box-shadow: 0 8px 8px 0 grey;
    border-radius: 50%;
    border: 0px;
	color: white;
    height: 40px;
	width: 40px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#Bgauche:hover,#Bdroite:hover{
	box-shadow: 0 4px 4px 0 grey;
}

/*end button for list1*/

/*end productslist*/

/*drinks list*/

/*end drink list*/

/*drink list*/
/*buttons for drinklist*/
#Bgauchedrinklist,#Bdroitedrinklist{
	background-color: rgb(255, 238, 0);
    box-shadow: 0 8px 8px 0 grey;
    border-radius: 50%;
    border: 0px;
	color: white;
    height: 40px;
	width: 40px;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#Bgauchedrinklist:hover,#Bdroitedrinklist:hover{
	box-shadow: 0 4px 4px 0 grey;
}

/*end buttons for drinklist*/


.drinklist{
	display: flex;
	align-items: center;
	flex-direction: row;
	min-height: 100px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-bottom: 1px solid;

}
/*drink list1*/
#drinklist1{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100px;
	
}
#drinklist1>li{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}
#drinklist1>li>img{
	width: 200px;
	height: 200px;

}
#drinklist1>li>p{
	display: flex;
	flex-flow: column;
}
@media all and (max-width){
	#drinklist1>li>img,#drinklist2>li>img{
		width: 150px;
		height: 150px;
	}
}
/*drink list1*/
/*drink list 2*/
#drinklist2{
	display: none;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 100px;
	
}
#drinklist2>li{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}
#drinklist2>li>img{
	width: 200px;
	height: 200px;

}
/*end drink list 2*/
/*end drink list*/



/*event*/
.event{
	display: flex;
	flex-direction: row;
	
}

@media all and (max-width: 720px){
	.event{
		display: flex;
		flex-direction: column;
	}

	#eventtitle{
		margin-top: 20px;
		position: absolute;
	}
	.event>map{
		display: flex;
		justify-content: center;
		border: 1px solid;
		margin-top: 100px;
	}

	.event>.eventlist{
		display: flex;
		align-items:flex-start;
		flex-direction: column;
		min-height: 100px;
		height: 500px;
		width: 50px;
		flex-wrap: wrap;
		justify-content: center;
		border: 1px solid;
		margin-top: 100px;
		overflow: auto;
	}
}

#eventtitle{
	margin-top: 20px;
	margin-left: 38%;
	position: absolute;
}

/*end event*/

/*map*/
.event>.map{
	height: 400px;
	width: 400px;
	border: 1px solid;
	margin: 50px;
	margin-top: 100px;
}
/*end map*/

/*eventlist*/
.event>.eventlist{
	display: flex;
	align-items:flex-start;
	flex-direction: column;
	min-height: 100px;
	height: 500px;
	width: 400px;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border: 1px solid;
	margin: 15px;
	margin-top: 100px;
	margin-left: 20%;
	overflow: auto;

}

/*event list*/
#eventlist{
	display: block;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	min-height: 100px;
	
}
#eventlist>li{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	
}
#eventlist>li>img{
	width: 70px;
	height: 70px;

}
/*end eventlist*/



/*footer*/
footer{
	background-color: rgb(163, 158, 114);
	min-height: 500px;
}
/*end footer*/